* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.register-box {
  width: 100%;
  max-width: 450px;
  background: #fff;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.13);
}

h1 {
  text-align: center;
  margin-bottom: 22px;
}

label {
  display: block;
  margin-top: 14px;
  margin-bottom: 6px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  box-sizing: border-box; /* FIX INPUT BỊ LỒI */
}

.alert {
  background: #ffd1d1;
  color: #8a0000;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.success {
  background: #00ff6a;
  color: #008f3b;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #1976d2;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 6px;
}

.btn:hover {
  background: #1258a3;
}

.small-text {
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
}

.small-text a {
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}

.small-text a:hover {
  text-decoration: underline;
}
